* {
    padding: 0 !important;
    margin: 0 !important;
}

/*************************VARIABLES**************************/

:root {
    --main-font-color: whitesmoke;
    --header-font: "Archivo Black", sans-serif;
    --body-font: "Archivo Narrow", sans-serif;
}


/*********************END VARIABLES**************************/


/**********************INDEX***********************************/
body{
    overflow-x: hidden;
}

.container, .parkContainer {
    background-color: black;
}

.parkContainer {
    width: 100vw;
    height: 60vh;
    position: relative;
    overflow: hidden;
}

.parkImg {
    width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /*filter: brightness(.7) blur(20px);*/
}

.image-holder {
    overflow: hidden;
    width: 95%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.parkImg:hover {
    /*filter: blur(20px);*/

}

.parkContainer .parkImg {
    filter: brightness(.7) blur(20px);
}

.parkContainer:hover .parkImg {
    filter: blur(20px);
}

.park-name {
    position: absolute;
    color: var(--main-font-color);
    font-size: 8rem;
    left: 20rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    font-family: var(--header-font);
    text-transform: uppercase;
    width: 40%;
}

.national-park {
    font-family: var(--body-font);
    font-size: 3rem;
    color: white;
}

.park-description {
    color: mintcream;
    position: absolute;
    right: 20rem;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    font-family: var(--body-font);
}

.navbar-inverse{
    background-color: black !important;
}

.container{
    max-width: none !important;
    position: fixed;
}

.nav-link, .nav-link:hover{
    text-decoration: none;
    color: gray;
}

/*******************END INDEX***********************************/


/*********************************DETAIL*********************************/
.park-detail-img-blur{
    position: relative;
    width: 100vw;
    height: 100vh;
    filter: blur(20px);
}

.park-detail-img-sharp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 85vh;
    color: whitesmoke;
    overflow: hidden;
    object-fit: cover;
    background-position: center;
}

.park-detail-name {
    font-family: var(--header-font);
    font-size: 3rem;
    top: 1rem;
    left: 1rem;
    position: relative;
}

.weather-frosted-background {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas:
        'today tomorrow day3 day4 day5';
    height: 35%;
    width: 100%;
    position: absolute;
    bottom: -2px;
    background: inherit;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.weather-frosted-background:after {
    content: '';
    width: 110%;
    height: 110%;
    left: -15px;
    top: -15px;
    position: absolute;
    filter: blur(10px);
    background: inherit;
    box-shadow:0 0 0 100px rgba(255, 255, 255, 0.1) inset;  
    background-position: bottom;
    background-size: inherit;
}

.weather-week {
    z-index: 4;
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.weather-today {
    grid-area: today;
}

.day2 {
    grid-area: tomorrow;
}

.day3 {
    grid-area: day3;
}

.day4 {
    grid-area: day4;
}

.day5 {
    grid-area: day5;
}

#park-enp {
    top: -110%;
}

#park-gnp {
    top: -70px;
}

#park-gsmnp {
    top: -60%;
}

#park-gtnp {
    top: -30px;
}

#park-mrnp {
    top: -280px;
}

#park-ynp2 {
    top: -200px;
}

.wi {
    font-size: 6.5rem;
    color: whitesmoke;
}

.temperature-toggle-btn{
    position: absolute;
    right: 1em;
    top: 1em;
    background:none;
    border: none;
}

.today-weather-advice {
    
    top: 76%;
    left: 50%;
    transform: translate(-50%, -65%);
}

/*****************************END DETAIL*********************************/
