@model List<NPGeek.Web.Models.Park>
@{
    ViewBag.Title = "FavoriteParks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="favorite-parks-background">
    <div class="favorite-parks-container">
        <div class="favorite-parks">
            <h2 id="favorite-parks-title">FavoriteParks</h2>

            @foreach (var park in Model)
            {
                <h1>@park.Name <span class="number-of-favorites">@park.NumberOfFavorites</span></h1>
            }
        </div>
    </div>
</div>
